/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   margin: 0 auto;
   background-color: #42356b;
   color: #87eda7;
   font-size: 20px;
   text-align: center;
 }

 .players {
   display: inline-block;
   margin: 0 auto;
   width: 100%;
 }

 .clearfix {
   display: inline-block;
   margin-top: 20px;

 }

 .thumbnail img {
   width: 150px;
   height: 150px;
 }

 .player_thumbnail img {
   width: 200px;
   height: 200px;
 }

 .name {
   font-size: 20px;
   color: teal;
 }

 .player_name {
   font-size: 25px;
   color: teal;
 }

 .character {
   border: 3px solid #87eda7;
   display: inline-block;
   width: 200px;
   height: 200px;
   text-align: center;
   float: left;
 }

 .character_play {
   border: 3px solid #87eda7;
   width: 250px;
   height: 250px;
   text-align: center;
   display: inline-block;
 }

 .text {
   display: inline-block;
 }

 .clearfix::after {
   content: "";
   clear: both;
   display: table;
 }

 .win {
   display: inline-block;
   float: none;
   clear: both;
   width: 100%;
 }

 a {
   color: #b6d3bf;
 }

 a:hover {
   color: #110733;
 }

 .goback {
   font-size: 25px;
   margin: 20px;
   position: fixed;
   background: #42356b;
   padding: 10px;
   top: 0;
   right: 0;
 }

 footer {
   bottom: 0;
   right: 0;
   position: fixed;
   padding: 10px;
   background: #42356b;
 }

 h1 {
   font-weight: bold;
 }

 .results {
   display: block;
   width: 80%;
   margin: 0 auto;
  }

#play {
  border: 3px solid #87eda7;
  border-radius: 10px;
  width: 210px;
  margin: auto;
}

@media all and (max-width: 500px) {

   h1 {
     font-size: 50px;
   }

   h2 {
     font-size: 35px;
   }

   .goback {
     font-size: 17px;
     width: 40px;
     margin: 5px;
   }

   .text {
     display: block;
     margin-top: 20px;
   }

   .text::after {
     content: "";
     clear: both;
     display: table;
   }

   footer {
     font-size: 15px;
   }


 }
