// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0 auto;
  background-color: #42356b;
  color: #87eda7;
  font-size: 20px;
  text-align: center;
}

.players {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}

.clearfix {
  display: inline-block;
  margin-top: 20px;

}

.thumbnail img {
  width: 150px;
  height: 150px;
}

.player_thumbnail img {
  width: 200px;
  height: 200px;
}

.name {
  font-size: 20px;
  color: teal;
}

.player_name {
  font-size: 25px;
  color: teal;
}

.character {
  border: 3px solid #87eda7;
  display: inline-block;
  float: left;
  width: 200px;
  height: 200px;
  text-align: center;
}

.character_play {
  border: 3px solid #87eda7;
  width: 250px;
  height: 250px;
  text-align: center;
  display: inline-block;
}

.text {
  display: inline-block;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.win {
  display: inline-block;
  float: none;
  clear: both;
  width: 100%;
}

a {
  color: #b6d3bf;
}

a:hover {
  color: #110733;
}

.goback {
  font-size: 25px;
  margin: 20px;
  position: fixed;
  background: #42356b;
  padding: 10px;
  top: 0;
  right: 0;
}

@media all and (max-width: 450px) {

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  .goback {
    font-size: 12px;
    width: 40px;
    margin: 5px;
  }

  .text {
    display: block;
    margin-top: 20px;
  }

  .text::after {
    content: "";
    clear: both;
    display: table;
  }

  footer {
    font-size: 12px;
  }


}
